.card {
  padding: 2.5rem;
  border-radius: 8px;
}

.card-reversed {
  background: #0F172A;
  background: linear-gradient(90deg, var(--dark-blue) 0%, var(--middle-blue) 50%, var(--light-blue) 100%);
  text-align: end;
}

h1 {
  margin: 0 0 32px 0;  
}

.card-default {
  background: linear-gradient(90deg, var(--light-blue) 0%, var(--middle-blue) 50%, var(--dark-blue) 100%);
}


/* TODO: move this to index.css */

@media (max-width: 800px) {
  .card-default, .card-reversed {
    background: linear-gradient(180deg, var(--light-blue) 0%, var(--middle-blue) 50%, var(--dark-blue) 100%);
    text-align: center;
  }
}
