.card {
  padding: 2.5rem;
  border-radius: 8px;
}

.card-reversed {
  background: #0F172A;
  background: linear-gradient(90deg, var(--dark-blue) 0%, #243c70 50%, var(--light-blue) 100%);
  text-align: end;
}

h1 {
  margin: 0 0 32px 0;  
}

.card-default {
  background: linear-gradient(90deg, var(--light-blue) 0%, #243c70 50%, var(--dark-blue) 100%);
}