@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #0F172A;
  --light-blue: #2E4D8E;
  --color: #F9FAFB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
  color: var(--color);

  font-weight: bold;
  letter-spacing: 0.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 48px;
}

span {
  font-size: 24px;
}